@font-face {
	font-family: "Flaticon";
	src: url("fonts/flaticon.eot");
	src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("fonts/flaticon.woff") format("woff"),
	url("fonts/flaticon.ttf") format("truetype"),
	url("fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
font-style: normal;
margin-left: 5px;
}.flaticon-bitcoin102:before {
	content: "\e000";
}
.flaticon-chat137:before {
	content: "\e001";
}
.flaticon-github10:before {
	content: "\e002";
}
.flaticon-inspiration:before {
	content: "\e003";
}
.flaticon-linkedin11:before {
	content: "\e004";
}
.flaticon-monitor7:before {
	content: "\e005";
}
.flaticon-network76:before {
	content: "\e006";
}
.flaticon-new48:before {
	content: "\e007";
}
.flaticon-twitter1:before {
	content: "\e008";
}
.flaticon-web2:before {
	content: "\e009";
}
